<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0895DA82234B3B950031BB2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFA3FB1A2DF7730C00DEC1A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFD7B27A2E0B362900946B29</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
